.main{
    /* display: flex; */
    /* flex-direction: column; */
}

.little-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
}