.video-wrap{
background: black;    
height: 250px;

}
.close-video{
    color: whitesmoke;
}

.swiper-slide{
    /* min-height: 250px; */
    background: black;
}
.my-swiper{
    height: 250px;
    background: black;
}