.video-wrap{
background: black;    
height: 250px;

}
.close-video{
    color: whitesmoke;
    padding: 20px;
    font-size: 30px;
}

.swiper-slide{
    /* min-height: 250px; */
    background: black;
}
.my-swiper{
    height: 250px;
    background: black;
}

.play-button {
    position: absolute;
   width: 80px;
   height: 80px;
  }